@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
.header{
    background-color: #536DFE;
}
#logo{
    width: 40px;
    transition: all 0.5s;
}
#logo:hover{
    width: 60px;
}
#bar_show{
    cursor: pointer;
}
.tab{
    transition: all 0.5s;
}
.tab:hover {
    border: 1px solid #ccc;
    margin-bottom: 0;
    border-radius: 5px;
    font-size: 20px;
}
.tab3 p a i{
    transition: all 0.3s;
}
.tab3 p a:hover i{
    font-size: 40px;
}
.tab2 a{
    background-color: #536DFE;
    color: white;
    transition: all 0.3s;
}

.tab2:hover a{
    background-color: rgba(255,255,255,0.9);
    font-size: 20px;
    color: #536DFE;
}
.tab3{
    background-color: #536DFE;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.tab3 p a{
    color: white;
    margin-left: 20px;
    transition: all 0.5s;
}
.tab3:hover p{
    font-size: 25px;
    color: #536DFE;
}
.ver-menu{
    display: none;
}

footer{
    background-color: #536DFE;
    display: flex;
    align-items: center;
}
.foot{
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin: auto;
    padding-top: 20px;
}
.left{
    width: 50%;
    border-right: 2px solid white;
}
.left h3{
    color: white;
}
.right{
    width: 50%;
    padding-left: 50px;
}
.right h3{
    color: white;
}
.right ul li a{
    text-decoration: none;
}
.right ul li a:hover{
    text-decoration: underline;
}

.group{
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}
.group .item{
    width: 25%;
}
.group .item img{
    width: 100%;
}
/* mobile phone */
@media (max-width: 575.98px) { 
    .foot{
        display: flex;
        flex-direction: column;
    }
    .foot{
        width: 80%;
    }
    .left{
        width: 100%;
        border-right: none;
        border-bottom: 2px solid white;
        margin-bottom: 10px;
    }
    .right{
        width: 100%;
        padding-left: 0;
    }
    .right ul{
        display: flex;
        justify-content: space-between;
    }
    .down p{
        font-size: 13px;
    }
    .group{
        display: flex;
        flex-direction:column;
    }
    .group .item{
        display: flex;
        justify-content: center;
        width: 100%;
        box-shadow: 2px 2px 2px #ECEFF1;
        margin-top: 20px;
    }
    .group .item:nth-child(2){
        flex-direction: row-reverse;
    }
    .group .item img{
        width: 100px;
    }

}

/* landscape */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .header{
        background-color: white;
    }
}

/* ipad*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    .header{
        background-color: white;
    }
    .name_logo{
        display: none;
    }
    .group{
        width: 90%;
    }
    .group .item{
        width: 30%;
    }
    
}

/* ipad pro */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .header{
        background-color: white;
    }
    .foot{
        width: 70%;
    }
 }

/* Laptop*/
@media (min-width: 1200px) { 
    .header{
        background-color: white;
    }
}